.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log

# Operating System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.*.local
